@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #d4e4fa;
  --secondary: #cbc3d7;
  --therty: #d0bcff;
  --yellow: #ffb95f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-therty: var(--therty);
  --color-yellow: var(--yellow);
}
html,
body {
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}
